<h1><%= @user.username %> (<%= @user.vote_points %> points)</h1>

<h3>Questions Asked</h3>

<% if @user.questions.empty? %>
  <p>You have no questions to display!</p>
<% else %>
  <% @user.questions.each_with_index do |question, index| %>
    <h5><%= link_to question.title, question %></h5>
  <% end %>
<% end %>

<h3>Questions Answered</h3>
<% if @user.answers.empty? %>
  <p>You have no answers to display!</p>
<% else %>
  <% @user.answers.each_with_index do |answer, index| %>
    <h5><%= link_to answer.question.title, answer.question %></h5>
  <% end %>
<% end %>
